html,
body {
  background: #e9ecf4;
  color: #3a57b8;
}

.results-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  background: #0200afde;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  color: #fff;
}

.show,
.hide {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin-left: 90%;
}

.show {
  transform: rotate(0deg);
}

.hide {
  transform: rotate(180deg);
}

img {
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.submit-button {
  border: none;
  background: #0200afde;
  padding: 10px;
  border-radius: 2px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

input {
  border: none;
  background: white;
  padding: 10px;
  border-radius: 2px;
  margin-right: 10px;
  color: #3a57b8;
}

textarea:focus,
input:focus {
  outline: none;
}
.stars-wrap {
  word-break: break-all;
}

.result-image {
  width: 30%;
}

.result-info {
  width: 70%;
}

.page-title,
.input-section {
  display: flex;
  justify-content: center;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgb(58 87 184),
    rgba(0, 0, 0, 0)
  );
}

.form-section {
  margin-top: 10px;
}
